body {
  position: relative;
  line-height: 1.4;
  color: #666;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

.btn-circle {
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  line-height: 2rem;
  border-radius: 9999px;
}

@media (min-width: 576px) and (max-width: 767px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}

#banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #263913;
  background-image: url("../img/banner-2.jpg");
  padding-top: 0;
  padding-bottom: 4rem;
  margin: 0;
}

@media (min-width: 768px) {
  #banner {
    background-attachment: fixed;
  }
}

#banner .title {
  /*font-size: 1.75rem;*/
  margin-top: 4rem;
  margin-bottom: 0.75rem;
}

#banner .subtitle {
  /*font-size: 1.25rem;*/
  font-weight: 300;
  margin-bottom: 8rem;
}

#banner .date {
  /*font-size: 1.25rem;*/
  font-weight: 300;
}

@media (min-width: 576px) and (max-width: 767px) {
  #banner .title {
    margin-bottom: 1.25rem;
  }
}

@media (min-width: 768px) {
  #banner .title {
    margin-bottom: 1.5rem;
  }
}

#banner .btn-main {
  color: #fff;
  background-color: #72af3a;
  border-color: #72af3a;
}

#banner .btn:hover {
  color: #72af3a;
  background-color: #fff;
  border-color: #fff;
}

#banner .navbar-brand img {
  height: 1.75rem;
  position: relative;
  bottom: 0.5rem;
}

#banner .navbar-nav .btn:focus {
  color: #ccc;
}

.banner-text {
  /*text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3), 0 0 1rem rgba(0, 0, 0, 0.7);*/
  color: #fff;
}

.logo-first {
  color: #72af3a;
  font-weight: bold;
}

.logo-last {
  color: #f0ad4e;
  font-weight: bold;
}

.modal {
  margin-top: 4rem;
}

.modal-header {
  border-bottom-width: 0;
}

.modal-footer {
  border-top-width: 0;
}


/*section {
    margin-top: -4rem;
    padding-top: 4rem;
}*/

section {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

#feature {
  color: #fff;
  background-color: #f0ad4e;
}

#feature img {
  height: 8rem;
}

#how img {
  opacity: 0.9;
}

#feedback {
  color: #fff;
  background-color: #999;
}

#feedback .words {
  height: 4.25rem;
}

#help {
  color: #fff;
  background-color: #f0ad4e;
}

#help .btn:hover {
  color: #72af3a;
  background-color: #fff;
  border-color: #fff;
}

#help img {
  height: 8rem;
}

footer {
  padding: 1rem;
  color: #999;
  background-color: #333;
}

footer a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}
